<nav>
  <div class="nav-wrapper grey darken-4">
    <a class="brand-logo right">
      <button
        type="button"
        class="btn amber"
        *ngIf="!userLogger"
        (click)="openDialog()"
      >
        Entrar
      </button>
      <button type="button" class="btn amber" *ngIf="userLogger">
        Sair
      </button></a
    >
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#" class="nav-link waves-effect px-2 text-white">Home</a></li>
      <li>
        <a
          routerLinkActive="active"
          [routerLink]="['ranking']"
          *ngIf="userLogger"
          >Ranking</a
        >
      </li>
      <li>
        <a
          routerLinkActive="active"
          [routerLink]="['profile']"
          *ngIf="userLogger"
          >Profile</a
        >
      </li>
    </ul>
  </div>
</nav>
