
<div class="row">
<div class="card" style="width: 40rem;" *ngIf="livro">
  <img class="card-img-top" src="{{ livro.img }}" alt="{{ livro.title }}" >
  <div class="card-body">
    <h1 class="card-title">{{ livro.title | uppercase }}</h1>
    <h3>{{ livro.author }}</h3>
    <h4>{{ livro.pages }} páginas</h4>
    <h4>{{ livro.category }}</h4>
    <p class="card-text">{{ livro.summary }}</p>
    <div mat-dialog-actions align="end">
    <button mat-button (click)="goBack()">
      <span class="fa fa-chevron-left fa-lg"></span>
    </button>
    <button
      type="button"
      class="btn btn-dark"
      *ngIf="!lido"
      (click)="calcTrofeu(livro)"
    >
      Marcar como lido
    </button>
    <button type="button" class="btn btn-success" *ngIf="lido">Lido</button>
  </div>
</div>
</div>

